Gnc2/Gnc2.Service/Service References/ServiceSiteActivity/SiteActivity4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/WS/SiteActivity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" />
  <xs:element name="SiteLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" minOccurs="0" name="userInfo" nillable="true" type="q1:NotifyUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" minOccurs="0" name="SiteLoginResult" nillable="true" type="q2:NotifyUserLoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_SiteLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_SiteLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" minOccurs="0" name="userInfo" nillable="true" type="q3:NotifyUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiteRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" minOccurs="0" name="SiteRegisterResult" nillable="true" type="q4:NotifyUserLoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_SiteRegister">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_SiteRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>