Gnc2/Gnc2.Service/Service References/ServiceSiteActivity/SiteActivity42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.Socialize.CustomModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/WS/SiteActivity.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya" />
  <xs:complexType name="NotifyUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotifyUserLogin" nillable="true" type="tns:NotifyUserLogin" />
  <xs:complexType name="NotifyUserLoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Service.Gigya" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignatureTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UIDSignature" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifyUserLoginResponse" nillable="true" type="tns:NotifyUserLoginResponse" />
</xs:schema>