w2/TestConsole/Service References/Test/PostTransactions4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/PostTransactions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
  <xs:element name="SendAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="inputObj" nillable="true" type="q1:PostTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="SendActionResult" nillable="true" type="q2:PostTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>