w2/TestConsole/Service References/GMTransactionSrv/GMTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/w2.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/w2.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GMTransactionActions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntityOfGMTransactionActionss5lgJq03">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Campaign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaignType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Income" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="JoinDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Location" type="xs:int" />
          <xs:element minOccurs="0" name="ModifyDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GMTransactionActions" nillable="true" type="tns:GMTransactionActions" />
  <xs:complexType name="BaseEntityOfGMTransactionActionss5lgJq03">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/w2.DB" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GMTransactionActions" Namespace="http://schemas.datacontract.org/2004/07/w2.DB" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseEntityOfGMTransactionActionss5lgJq03" nillable="true" type="tns:BaseEntityOfGMTransactionActionss5lgJq03" />
</xs:schema>