w2/TestConsole/Service References/GMTransactionSrv/GMTransaction3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wanda_w2.turkcell.com.tr/GMTransaction.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.DB" />
  <xs:import schemaLocation="http://wanda_w2.turkcell.com.tr/GMTransaction.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.GM" />
  <xs:element name="NotifyAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.DB" minOccurs="0" name="ent" nillable="true" type="q1:GMTransactionActions" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Service.Gigya.GM" minOccurs="0" name="NotifyActionResult" nillable="true" type="q2:NotifyActionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>