Gnc2/Gnc2.Service/Service References/ServiceSmsQuery/SmsQuery4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/ws/SmsQuery.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
  <xs:element name="GetUserTotalPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="data" nillable="true" type="q1:SmsQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTotalPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="GetUserTotalPointsResult" nillable="true" type="q2:SmsQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetUserTotalPoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetUserTotalPointsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q3:SmsQueryActionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="GetActionPointsResult" nillable="true" type="q4:SmsQueryActionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetActionPoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetActionPointsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>