Gnc2/Gnc2.Service/Service References/ServiceLeaderBoard/LeaderBoard5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/Ws/LeaderBoard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
  <xs:element name="TopN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q1:LeaderListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="TopNResult" nillable="true" type="q2:LeaderListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_TopN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_TopNResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q3:UserRankRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="GetUserRankResult" nillable="true" type="q4:LeaderListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetUserRank">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetUserRankResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>