Gnc2/Gnc2.Service/Service References/ServiceLeaderBoard/LeaderBoard11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeaderBoard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:18348/Ws/LeaderBoard.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18348/Ws/LeaderBoard.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/LeaderBoard.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/LeaderBoard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/LeaderBoard.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/w2.Ws.Models" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/LeaderBoard.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeaderBoard_TopN_InputMessage">
    <wsdl:part name="parameters" element="tns:TopN" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_TopN_OutputMessage">
    <wsdl:part name="parameters" element="tns:TopNResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_Json_x002F_TopN_InputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_TopN" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_Json_x002F_TopN_OutputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_TopNResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_GetUserRank_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRank" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_GetUserRank_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRankResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_Json_x002F_GetUserRank_InputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetUserRank" />
  </wsdl:message>
  <wsdl:message name="ILeaderBoard_Json_x002F_GetUserRank_OutputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetUserRankResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeaderBoard">
    <wsdl:operation name="TopN">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderBoard/TopN" message="tns:ILeaderBoard_TopN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaderBoard/TopNResponse" message="tns:ILeaderBoard_TopN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Json_x002F_TopN">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderBoard/Json/TopN" message="tns:ILeaderBoard_Json_x002F_TopN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaderBoard/Json/TopNResponse" message="tns:ILeaderBoard_Json_x002F_TopN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRank">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderBoard/GetUserRank" message="tns:ILeaderBoard_GetUserRank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaderBoard/GetUserRankResponse" message="tns:ILeaderBoard_GetUserRank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Json_x002F_GetUserRank">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderBoard/Json/GetUserRank" message="tns:ILeaderBoard_Json_x002F_GetUserRank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaderBoard/Json/GetUserRankResponse" message="tns:ILeaderBoard_Json_x002F_GetUserRank_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="LeaderBoard">
    <wsdl:port name="MetadataExchangeHttpBinding_ILeaderBoard" binding="i0:MetadataExchangeHttpBinding_ILeaderBoard">
      <soap12:address location="http://localhost:18348/Ws/LeaderBoard.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:18348/Ws/LeaderBoard.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>