wSrvBridge/wSrvConnector/Service References/PennaSmsService/Events.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.pennaltd.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.pennaltd.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.pennaltd.com/">
      <s:element name="insertNewTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNewTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertNewTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertNewTicketSoapIn">
    <wsdl:part name="parameters" element="tns:insertNewTicket" />
  </wsdl:message>
  <wsdl:message name="insertNewTicketSoapOut">
    <wsdl:part name="parameters" element="tns:insertNewTicketResponse" />
  </wsdl:message>
  <wsdl:message name="sendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:sendSms" />
  </wsdl:message>
  <wsdl:message name="sendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:sendSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="EventsSoap">
    <wsdl:operation name="insertNewTicket">
      <wsdl:input message="tns:insertNewTicketSoapIn" />
      <wsdl:output message="tns:insertNewTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <wsdl:input message="tns:sendSmsSoapIn" />
      <wsdl:output message="tns:sendSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventsSoap" type="tns:EventsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertNewTicket">
      <soap:operation soapAction="http://ws.pennaltd.com/insertNewTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <soap:operation soapAction="http://ws.pennaltd.com/sendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventsSoap12" type="tns:EventsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertNewTicket">
      <soap12:operation soapAction="http://ws.pennaltd.com/insertNewTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <soap12:operation soapAction="http://ws.pennaltd.com/sendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Events">
    <wsdl:port name="EventsSoap" binding="tns:EventsSoap">
      <soap:address location="http://ws.pennabilisim.com/Events.asmx" />
    </wsdl:port>
    <wsdl:port name="EventsSoap12" binding="tns:EventsSoap12">
      <soap12:address location="http://ws.pennabilisim.com/Events.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>