wSrvBridge/wSrvBridge.TestConsole/Service References/GsmTransactionServiceReference/GsmTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GsmTransaction" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
      <xsd:import schemaLocation="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/w2.Ws.Models" />
      <xsd:import schemaLocation="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGsmTransaction_SendAction_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAction" />
  </wsdl:message>
  <wsdl:message name="IGsmTransaction_SendAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendActionResponse" />
  </wsdl:message>
  <wsdl:message name="IGsmTransaction_SendMultipleAction_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMultipleAction" />
  </wsdl:message>
  <wsdl:message name="IGsmTransaction_SendMultipleAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMultipleActionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGsmTransaction">
    <wsdl:operation name="SendAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IGsmTransaction/SendAction" message="tns:IGsmTransaction_SendAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGsmTransaction/SendActionResponse" message="tns:IGsmTransaction_SendAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMultipleAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IGsmTransaction/SendMultipleAction" message="tns:IGsmTransaction_SendMultipleAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGsmTransaction/SendMultipleActionResponse" message="tns:IGsmTransaction_SendMultipleAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="GsmTransaction">
    <wsdl:port name="MetadataExchangeHttpBinding_IGsmTransaction" binding="i0:MetadataExchangeHttpBinding_IGsmTransaction">
      <soap12:address location="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://wanda_w2.turkcell.com.tr/GsmTransaction.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>