w2/TestConsole/Service References/Gsm/GsmTransaction51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
  <xs:element name="SendAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q1:GsmTransactionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="SendActionResult" nillable="true" type="q2:GsmTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMultipleAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q3:GsmTransactionMultipleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMultipleActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="SendMultipleActionResult" nillable="true" type="q4:ArrayOfGsmTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>