Gnc2/Gnc2.Service/Service References/ServiceBadge/Badge2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Badge" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:18348/Ws/Badge.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18348/Ws/Badge.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/Badge.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/Badge.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/Badge.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/w2.Ws.Models" />
      <xsd:import schemaLocation="http://localhost:18348/Ws/Badge.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/w2.Service.Gigya" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBadge_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IBadge_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBadge_Json_x002F_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetAll" />
  </wsdl:message>
  <wsdl:message name="IBadge_Json_x002F_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBadge_GetNRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNRandom" />
  </wsdl:message>
  <wsdl:message name="IBadge_GetNRandom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNRandomResponse" />
  </wsdl:message>
  <wsdl:message name="IBadge_Json_x002F_GetNRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetNRandom" />
  </wsdl:message>
  <wsdl:message name="IBadge_Json_x002F_GetNRandom_OutputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetNRandomResponse" />
  </wsdl:message>
  <wsdl:message name="IBadge_GetUserBadge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBadge" />
  </wsdl:message>
  <wsdl:message name="IBadge_GetUserBadge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBadgeResponse" />
  </wsdl:message>
  <wsdl:message name="IBadge_Json_x002F_GetUserBadge_InputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetUserBadge" />
  </wsdl:message>
  <wsdl:message name="IBadge_Json_x002F_GetUserBadge_OutputMessage">
    <wsdl:part name="parameters" element="tns:Json_x002F_GetUserBadgeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBadge">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBadge/GetAll" message="tns:IBadge_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBadge/GetAllResponse" message="tns:IBadge_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Json_x002F_GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBadge/Json/GetAll" message="tns:IBadge_Json_x002F_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBadge/Json/GetAllResponse" message="tns:IBadge_Json_x002F_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/IBadge/GetNRandom" message="tns:IBadge_GetNRandom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBadge/GetNRandomResponse" message="tns:IBadge_GetNRandom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Json_x002F_GetNRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/IBadge/Json/GetNRandom" message="tns:IBadge_Json_x002F_GetNRandom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBadge/Json/GetNRandomResponse" message="tns:IBadge_Json_x002F_GetNRandom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBadge">
      <wsdl:input wsaw:Action="http://tempuri.org/IBadge/GetUserBadge" message="tns:IBadge_GetUserBadge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBadge/GetUserBadgeResponse" message="tns:IBadge_GetUserBadge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Json_x002F_GetUserBadge">
      <wsdl:input wsaw:Action="http://tempuri.org/IBadge/Json/GetUserBadge" message="tns:IBadge_Json_x002F_GetUserBadge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBadge/Json/GetUserBadgeResponse" message="tns:IBadge_Json_x002F_GetUserBadge_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Badge">
    <wsdl:port name="MetadataExchangeHttpBinding_IBadge" binding="i0:MetadataExchangeHttpBinding_IBadge">
      <soap12:address location="http://localhost:18348/Ws/Badge.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:18348/Ws/Badge.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>