Gnc2/Gnc2.Service/Service References/ServiceBadge/Badge5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/Ws/Badge.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/w2.Ws" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q1:BadgeListQueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="GetAllResult" nillable="true" type="q2:BadgeListQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetAllResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNRandom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q3:BadgeListQueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNRandomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="GetNRandomResult" nillable="true" type="q4:BadgeListQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetNRandom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetNRandomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBadge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="request" nillable="true" type="q5:BadgeListQueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBadgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/w2.Ws" minOccurs="0" name="GetUserBadgeResult" nillable="true" type="q6:BadgeUserListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetUserBadge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Json_x002F_GetUserBadgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>