w2/TestConsole/Service References/PostTransactions/PosTransactions2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/w2.Ws" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/w2.Ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18348/PosTransactions.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/w2.Ws.Models" />
  <xs:complexType name="PosTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campaign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Income" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JoinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
      <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PosTransactionModel" nillable="true" type="tns:PosTransactionModel" />
  <xs:complexType name="PosTransactionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/w2.Ws.Models" base="q1:BaseWsModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PosTransactionResponse" nillable="true" type="tns:PosTransactionResponse" />
</xs:schema>